@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">This shows data about me</a>.</p>
</div>
