@{
    ViewData["Title"] = "JSON Page";
}

<div class="text-center">
    <h1 class="display-4">JSON</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">This consists of JSON data</a>.</p>
    <ul>
        <li>USA</li>
        <li>CANADA</li>
        <li>JPN</li>
    </ul>
</div>
